  html{
    background-color: #000;
  }

  mark{
    background: black;
    color: white;
  }

  .home{
    flex-grow: 1;
    background-image: url(../assets/poker-home.jpg); 
    background-size: cover;
    text-align: center;
    color: #ddd;
    background-color: transparent;
    padding-top: 26vh;
    padding-bottom: calc(29vh + 4px);
    min-height: calc(100%-120);
    width: 100vw;
  }

  .home h2 {
    top: -15px;
    position: relative;
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .home p {
    top: -5px;
    position: relative;
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  
  .home .button {
    top: 5px;
    position: relative;
    background-color: #bb3333/*#ff3e00*/;
    color: #fff;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
  }
  
  .home .button:hover {
    background-color: #bb4346/*#ff5f33*/;
  }
