.margin-adjuster{
    max-width: 100%;
}

.margin-adjuster .player-info{
    position: relative;
    left: -80%;
    display: flex;
    flex-direction: column;

}

.player-info{
    display: flex;
    flex-wrap: wrap;
      color: white;
      margin-bottom: 5px;
      z-index: 1;
      width: 180%;
      word-wrap: break-word;
    }
    
    .player-info h2 {
      margin: 0 0 10px;
      text-align: center;
      /*font-size: 18px;*/
      width: 100%;
    }
  
    .player-info p {
      margin: 0 0 10px;
      text-align: center;
      width: 100%;
    }