
.poker-table{
  background-image: url(../assets/poker-table-cropped4.jpg); 
  width: 70%;
  aspect-ratio: 1906/1080;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 0;
}

.poker-table .table-div{
  width: 100%;
  aspect-ratio: 2080/1080;
}

.poker-table .table-div .table-components{
  position: relative;
  display: flex;
  top: 42%;
  left: 27%;
  width: 46%;
  height: 25%;
  justify-content: space-around;
}

.poker-table .table-div .pot{
  position: relative;
  display: flex;
  top: 60%;
  left: 25%;
  width: 50%;
  height: 50px;
  justify-content: space-around;
}

.poker-table .table-div .pot p{
  font-size: 25px;
}

.poker-table .table-div .buttons{
  position: relative;
  display: flex;
  top: 63%;
  left: 25%;
  width: 50%;
  height: 10%;
}
