.actions {

  flex-wrap: wrap;
  display: flex;
  width: 180%;
  justify-content: center;
}

.actions .buttonWrapper {
  width: 161px;
  text-align: center;

}

.actions .buttonWrapper button {
  position: relative;
  width: 125px;
  margin: 8px 0;
  padding: 10px;
  font-size: 16px;
  background-color: #c42b2b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;
}

.actions input {
  position: relative;
  top: 15px;
}